/*
* @Author: lenovo
* @Date:   2018-12-16 11:29:14
* @Last Modified by:   lenovo
* @Last Modified time: 2018-12-24 10:37:30
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.on{
	width: 100%;
	height: 45px;
}
.one{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
}
.one>img{
	float: left;
}
.one>p{
	float: left;
	font-size: 12px;
	text-align: center;
} 
.one1{
	color: #9a9791;
}
.onet1{
	margin-left: 380px;
}
.onet2{      
	margin-left: 18px;
	margin-top: 1px;
}
.onet3{
	margin-left: 18px;
}
.one2{
	margin-left: 18px;
	color: #9a9791;
}
.one3{
	margin-left: 18px;
	color: #9a9791;
}
.one4{
	color: #9a9791;
}
.one5{
	color: #9a9791;
}
.onet4{
	margin-left: 18px;
	margin-top: 2px;
}
.onet5{
	margin-left: 18px;
	margin-top: 1px;
}
.one6{
	margin-left: 18px;
	color: #9a9791;
} 
.one7{
	margin-left: 18px;
	color: #9a9791;
}
.one8{
	color: #9a9791;
}
.onet6{
	margin-left: 18px;
}
.one9{
	margin-left: 18px;
	color: #9a9791;
}
.one10{
	margin-left: 18px;
	color: #9a9791;
}
.onet7{
	margin-left: 18px;
}
.one12{
	margin-left: 5px;
	color: #fe6c00;
	font-weight: bold;
}
.tw{
	width: 100%;
	height: 87px;
}
.two{
	width: 1180px;
	height: 95px;
	margin: 0 auto;
}
.twoone{
	width: 270px;
	height: 42px;
	float: left;
	margin-top: 15px;
	margin-left: 60px;
}
.twoone1{
	width: 86px;
	height: 40px;
	border: 1px solid #e6e5e2;
	float: left;
}
.twoone1>img{
	margin-left: 36px;
	margin-top: 5px;
}
.twoone1>p{
	text-align: center;
}
.twoone2>img{
	margin-left: 36px;
}
.twoone2>p{
	text-align: center;
	margin-top: 1px;
}
.twop{
	font-size: 12px;
	color: #9a9791;
}
.twoone2{
	width: 86px;
	height: 40px;
	border: 1px solid #e6e5e2;
	float: left;
	margin-left: 1px;
}
.twoone3{
	width: 86px;
	height: 40px;
	float: left;
	margin-left: 1px;
	background-color: #ff4d04;
}
.twoone3>img{
	margin-top: 15px;
	margin-left: 8px;
	float: left;
}
.twoone3>p{
	margin-left: 22px;
	margin-top: 13px;
}
.twopp{
	font-size: 12px;
	color: #ffffff;
}
.twot1{
	float: left;
}
.twof1{         
	float: left;
} 
.twob1{
	float: left;
	height: 35px;    
	width: 82px;
	background-color: #ff4d04;
	color: #ffffff;
	border: none;
}
.twoin1{
	width: 500px;
	height: 35px;
	color: #9a9791;
	border: none;
}
.twonew{
	float: left;
	width: 582px;
	height: 35px;
	border: 3px solid #ff4d04;
	border-radius: 3px;
	margin-top: 15px;
	margin-left: 105px;
}
.twotwo{
	width: 570px;
	height: 18px;
	float: left;
	margin-left: 100px;
	margin-top: 5px;
}
.twotwo>img{
	height: 10px;
	float: left;
	margin-left: 8px;
	margin-top: 4px;
}
.twotwo>p{
	float: left;
	font-size: 12px;
	margin-left: 8px;
}
.twotwo1{
	color: #ff4d04;
}
.twotwo2{
	color: #b3caf0;
}
.twotwo3{
	color: #e6e5e2;
}
.th{
	width: 100%;
	height: 42px;
}
.three{
	width: 1180px;
	margin: 0 auto;
}
.three1{
	width: 170px;
	height: 42px;
	background-color: #ff4d04; 
	float: left; 
}
.three1>p{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}
.three2{
	width: 120px;
	height: 42px;
	float: left;
}
.three2>p{
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}
.three3{
	width: 120px;
	height: 42px;
	float: left;
}
.threetg{
	float: left;
}
.three3>p{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}
.three>a div:hover{
	color: #ff4d04;
}
.xian{
	height: 2px;
	width: 100%;
	background-color: #ff4d04;
	float: left;
}
.four{
	height: 545px;
	width: 175px;
	float: left;
	background-color: #ffffff;
}
.four1{
	width: 26px;
	height: 420px;
	float: left;
	background-color: #4c4c4a;
	color: #ff4d04;
}
.four1>p{
	margin-top: 20px;
	text-align: center;
}
.four2{
	width: 144px;
	height: 420px;
	float: left;
	background-color: #ffffff;
}
.four2>p{
	font-size: 13px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.four3{
	width: 170px;
	height: 125px;
	background-color: #ffffff;
	border-top: 1px solid #ff4d04;
	float: left;
}
.four31{
	width: 170px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.four31>img{
	float: left;
}
.four31>p{
	margin-left: 5px;
	float: left;
}
.four32{
	width: 170px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.four32>img{
	float: left;
}
.four32>p{
	margin-left: 5px;
	float: left;
}
.four33{
	width: 170px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.four33>img{
	float: left;
}
.four33>p{
	margin-left: 5px;
	float: left;
}
.fourx{
	width: 815px;
	height: 545px;
	float: left;
	background-color: #ffffff;
}
.fournew{
	width: 815px;
	height: 356px;
	float: left;
}
.fournew>img{
	width: 815px;
	height: 356px;
	float: left;
}
.fourund{
	width: 815px;
	height: 180px;
	float: left;
	margin-top: 5px;
	border-top: 2px solid #ff4d04;
}
.fourxs{
	height: 560px;
	width: 190px;
	float: left;
	background-color: #ffffff;
}
.fourxs1{
	height: 30px;
	width: 180px;
	float: left;
	margin-left: 25px;
	margin-top: 15px;
}
.fourxs1>img{
	float: left;
}
.fourxs1>p{
	float: left;
	color: #ff4d04;
	font-size: 14px;
	margin-left: 8px;
}
.fourxst1{
	margin-top: 2px;
}
.fourxst2{
	margin-top: 5px;
	margin-left: 50px;
}
.fourxs2{
	float: left;
	width: 180px;
	height: 315px;
	border-top: 1px solid #ebeae7;
	border-bottom: 1px solid #ebeae7;
}
.fourxs2o{
	float: left;
	width: 180px;
	height: 16px;
	margin-top: 12px;
}
.fourxs2o>p{
	float: left;
	font-size: 12px;
	color: #ff4d04;
}
.fourxs2o1{
	margin-left: 15px;
}
.fourxs2o2{
	margin-left: 10px;
}
.fourxs3{
	width: 180px;
	height: 172px;
	float: left;
}
.fourxs31{
	width: 180px;
	height: 30px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.fourxs31>img{
	float: left;
}
.fourxs31>p{
	float: left;
	font-size: 12px;
}
.fourxs311{
	margin-left: 12px;
	color: #000000;
	font-weight: bold;
}
.fourxs312{
	margin-left: 9px;
	color: #ff4d04;
}
.fourxs32{
	width: 180px;
	height: 26px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.fourxs321{
	width: 123px;
	height: 25px;
	color: #ebeae7;
}
.fourxs33{
	width: 180px;
	height: 26px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.fourxsop{
	height: 26px;
	float: left;
}
.fourxsnum{
	float: left;
	height: 26px;
	margin-left: 6px;
}
.fourxsnum>p{
	float: left;
	font-size: 12px;
	color: #ff4d04;
	margin-top: 3px;
}
.fourxs34{
	width: 180px;
	height: 30px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.fourxs341{
	color: #ffffff;
	background-color: #ff4d04;
	width: 165px;
	height: 26px;
	float: left;
	border-radius: 3px;
	border: none;
}
.fou{
	width: 1180px;
	height: 553px;
	margin: 0 auto;
}
.fo{
	height: 553px;
	width: 100%;
	background-color: #f8f7f6;
}
.fi{
	width: 100%；
	height: 183px;
	background-color: #f8f7f6;
}
.five{
	width: 1180px;
	height: 183px;
	margin: 0 auto;
}
.five1{
	width: 153px;
	height: 183px;
	float: left;
}
.five2{
	width: 1027px;
	height: 153px;
	margin-top: 30px;
	float: left;
	border-bottom: 1px solid #ebeae8;
}
.five21{
	width: 70px;
	height: 153px;
	float: left;
	margin-left: 60px;
}
.fivw21>p{
	float: left;
}
.five211{
	font-size: 14px;
	font-weight: bold;
}
.five212{
	font-size: 12px;
	color: #666560;
	margin-top: 10px;
}
.five22{
	float: left;
	margin-left: 50px;
}
.si{
	width: 100%;
	height: 162px;
	background-color: #f8f7f6;
}
.six{
	width: 1180px;
	margin: 0 auto;
}
.six1{
	width: 653px;
	height: 22px;
	float: left;
	margin-left: 270px;
	margin-top: 30px;
}
.six1>p{
	float: left;
	font-size: 13px;
	margin-left: 10px;
}
.six1>img{
	float: left;
	height: 12px;
	margin-left: 10px;
	margin-top: 3px;
}
.six2{
	width: 1180px;
	height: 22px;
	float: left;
	font-size: 13px;
	text-align: center;
	color: #9a9791;
}
.six3{
	width: 1180px;
	height: 22px;
	float: left;
	font-size: 13px;
	text-align: center;
	color: #9a9791;
}
.six4{
	width: 1180px;
	height: 22px;
	float: left;
	font-size: 13px;
	text-align: center;
	color: #9a9791;
}
.six5{
	width: 778px;
	height: 55px;
	float: left;
	margin-left: 197px;
}
ul,li{
	list-style: none;
}
.box{
	height: 356px;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 6600px;
	position: absolute;
	left: -825px;
}
.slide{
	width: 825px;
	overflow: hidden;
	float: left;
}
.nav{
	position: absolute;
	left: 360px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	background-color: #ffffff;
}
.nav .active{
	background: #ff4d04;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.leftt{
	margin-top: 150px;
	margin-left: 7px;
}
.rightt{
	margin-top: 50px;
	margin-left: 740px;
}
.lunbovip{
	height: 364px;
}
.cover{
	width: 100%;
	height: 132px;
	z-index: 5;
	background-color: #ffffff;
	position: absolute;
	top: 0;
}
.fourxs2{
	width:180px;
    height:325px;
    position: relative;  
    overflow: hidden;  
    border-bottom: solid 1px #ebeae7;
}
.nn{
	float: left;
	font-size: 12px;
	color: #ff4d04;
	margin-top: 8px;
	margin-left: 18px;
}
#ul>a{
	font-size: 10px;
}
body{
	height: 215px;
}
#ul {
    list-style: none;
    width: 226px;
    height: 640px; 
    position: absolute;  
    left: 0;
    top: 0;
}
#ul::after {
    display: block;
    height: 0;
    clear: both;
}

#ul li {
   width: 226px;
   height: 19px; 
   float: top;
}
.right1{
	width: 130px;
	height: 105px;
	float: left;
	top: 82px;
	right: -82px;
	position: fixed;
	z-index: 6;
}
.right1>img{
	float: left;
}
.right1t1{
	width: 130px;
	height: 60px;
}
.right1t2{
	width: 130px;
	height: 45px;
}
.right2{
	width: 130px;
	height: 140px;
	float: left;
	top: 191px;
	right: -82px;
	position: fixed;
}
.right2>img{
	float: left;
}
.right2t1{
	width: 60px;
	height: 140px;
	float: left;
}
.right21{
	width: 70px;
	height: 140px;
	float: left;
	background-color: #ff9260;
}
.right211{
	float: left;
	font-size: 13px;
	margin-left: 10px;
	margin-top: 40px;
}
.right212{
	width: 40px;
	height: 20px;
	float: left;
	text-align: center;
	font-size: 13px;
	color: white;
	border: 1px solid white;
	border-radius: 2px;
	margin-left: 10px;
	margin-top: 20px;
}
.right3{
	width: 130px;
	height: 150px;
	float: left;
	top: 336px;
	right: -82px;
	position: fixed;
}
.right3>img{
	float: left;
}
.right3t1{
	width:130px;
	height:50px;
}
.right31{
	width: 130px;
	height: 100px;
	float: left;
	background-color: #ff9260;
}
.right31>img{
	width: 25px
	height: 25px;
	float: left;
	margin-top: 36px;
	margin-left: 12px;
}
.right4{
	width: 130px;
	height: 140px;
	top: 491px;
	right: -82px;
	position: fixed;
}
.right4>img{
	width: 130px;
	height: 140px;
	float: left;
}
